table {
  min-width: 400px;
  height: auto;
  box-shadow: 0 5px 5px 0 rgb(190, 184, 184);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(220, 200, 184);
  /* fusionez nos cellules */
  border-collapse: collapse;
  /* text-align: center; */
}

thead tr {
  background: rosybrown;
  text-align: left;
  columns: ;
}

th,
td {
  padding: 15px 20px;
}

tbody td {
  border: 1px solid black;
}

tbody tr:nth-child(even) {
  background: rgba(233, 2, 2, 0.452);
}

tfoot {
  text-align: center;
}
